<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medirecord</title>
    <link rel="icon" href="/static/images/su-logo_big.png">
</head>
<style>
    * {
        font-family: sans-serif
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 500px;
    }
    h1 {
        font-size: 50px;
    }
</style>
<body>
    <div class="center">
        <img src="/static/images/su-logo_big.png" alt="">
    </div>
    <div class="center">
        <h1>
            ต้นแบบการประยุกต์ใช้บล็อคเชนกับการรักษาพยาบาล
        </h1>
    </div>
    <div class="center">
        <h1>
            Prototype System for Implementing Blockchain in Medical Records
        </h1>
    </div>
</body>
</html>